@page "/{pageIndex:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if(User.Identity.IsAuthenticated)
    {
    <div class="createPostForm">
        <div class="title">Stwórz swój własny post!</div>
        <form method="post" enctype="multipart/form-data" >
            @if(!ModelState.IsValid)
            {
                <span class="alert-success">Nie udało się dodać posta</span>
            }
             <br />

            <input class="titleInput" type="text" placeholder="Tytuł postu" asp-for="CreatePostForm.Title" /> <!-- asp-for=""-->
                <span asp-validation-for="CreatePostForm.Title" class="text-danger"></span><br />

                <textarea class="descInput" type="text" placeholder="Wstaw swój opis!" asp-for="CreatePostForm.Description" ></textarea> <!-- asp-for=""-->
                <span asp-validation-for="CreatePostForm.Description" class="text-danger"></span>
            <input class="tagsInput"type="text" placeholder="Tag1 Tag2 ..." asp-for="CreatePostForm.TagsString"/><br />

             <div class="buttons">
                 <div class="click-img">
                     <input class="filesInput" type="file" asp-for="CreatePostForm.FormFiles" id="img" style="display:none" multiple />
                     <label for="img">Upload Images</label>
                 </div>
                 <div class="click-img">
                     <input type="submit" id="submit" style="display:none" />
                     <label for="submit">Send</label>
                 </div>
             </div>
        </form>
    </div>
    }
    @foreach (var post in Model.Posts)
    {
        <div class="post">
            @if (post.CanDelete)
            {
                <a class="delete" asp-page="Index" asp-page-handler="DeletePost" asp-route-postId="@post.Id">>Usuń Post</a>
            }
            <div class="title">@post.Author</div>
            <div class="title">@post.Title</div>
            <div class="slider">
                <div class="photo">
                    @foreach (var img in post.Images)
                    {
                        <div class="png"><img src="@img.ImagePath" /></div>
                    }
                </div>
            </div>
            <div class="tagsContainer">
                @foreach (var tag in post.Tags)
                {
                    <div class="tag">#@tag</div>
                }
            </div>
            <br />
            <div class="postDescription">@post.Description</div>
            <div class="comments">
                @foreach (var comment in post.Comments)
                {

                    <div class="comment">
                        @if (comment.CanDelete)
                        {
                            <a class="delete" asp-page="Index" asp-page-handler="DeleteComment" asp-route-commentId="@comment.Id">Usuń Komentarz</a>
                        }
                        <div class="info">@comment.Author, @comment.IP, @comment.CreatedAt.ToString("dd.MM.yyyy HH:MM")</div>
                        <div class="content">@comment.Content</div>
                    </div>
                }
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <form>
                    <input type="hidden" value="@post.Id"/>
                    <textarea class="commentInput" type="text" placeholder="Dodaj komentarz!" asp-for="CreatePostForm.Description"></textarea>
                    <div class="click-img">
                        <input type="submit" id="submit" style="display:none" />
                        <label for="submit">Send</label>
                    </div>
                </form>
            }
        </div>
    }
</div>
